
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body {
  background-color: #f0f2f5;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
}

.right-panel {
  flex: 1;
  padding: 10px;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.school {
  font-size: 12px;
  width:auto;
  font-weight: bold;
  text-align: center;
  color: #0a0a10;
  margin-bottom: 25px;
  position: relative;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  z-index: 1000;
  box-shadow: none;
  border-radius: 25%;
  border: 0cap;
}
.close-button img {
  vertical-align: middle;
}
.close-button:hover {
  border: 1px solid #007bff;
}
.time-widget {
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #0a0a10;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.time {
  font-size: 36px;
  font-weight: bold;
  color: #0a0a10;
  margin-bottom: 5px;
}

.date {
  font-size: 16px;
  color: #0a0a10;
  margin-top: 5px;
}

.info-widget {
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
}

.class {
  font-size: 25px;
  color: #0a0a10;
  margin-top: 5px;
}
.qr-widget {
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.qr-code img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #f0f2f5;
}
.qr-button {
  margin-top: auto;
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #0a0a10;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.popup button {
  margin-top: 10px;
  padding: 5px 3px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  z-index: 1001;
  line-height: 1;
  cursor: pointer;
}
.pin-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 buton bir sırada */
  margin-bottom: 15px;
}
.pin-button {
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 2px;
}
#pin-input {
  width: 110px;
  height: 40;
  border: 1px solid #0a0a10;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
}
.qr-code {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #0a0a10;
}
.left-panel {
  flex: 3;
  background-color: #0a0a10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  gap: 8px;
  z-index: 9999;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #007bff;
}
.slider-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  cursor: grab;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .slide {
    min-width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .slide {
    min-width: 30%;
  }
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: relative;
}

.slide-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.slide-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: #f0f2f5;
}

.slide-description {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #f0f2f5;
}
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
